/* 
 * Created by Nathan Wehr
 * Copyright 2013 Nathan Wehr and EvriChart Inc. All Rights Reserved.
 */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

  /* --------------------------------------------------------- */

}
body .AppKit-View {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  background-color: #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .AppKit-View.AppKit-Selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body .AppKit-Scroll {
  overflow: auto;
}
body .AppKit-Scroll > div {
  min-width: 100%;
  min-height: 100%;
  float: left;
}
body .AppKit-Label {
  background: none;
  font-size: 9pt;
  color: #555;
}
body .AppKit-Heading {
  background: none;
  color: #555;
}
body .AppKit-Paragraph {
  background: none;
  font-size: 9pt;
  color: #555;
  margin-top: 0;
}
body textarea.AppKit-Input, body input.AppKit-Input[type="text"], body input.AppKit-Input[type="password"] {
  background-color: white;
  color: black;
  border: solid 0.1em #999999;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.3em;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
body .AppKit-Button, body .AppKit-DropdownButton {
  all: none;
  display: inline-block;
  position: relative;
  font-size: 9pt;
  font-weight: normal;
  color: #222;
  height: 1.9em;
  line-height: 9pt;
  padding: 0 0.7em;
  border: solid 0.1em #666666;
  background: -webkit-linear-gradient(top, #f5f5f5, #bbbbbb);
  background: -moz-linear-gradient(top, #f5f5f5, #bbbbbb);
  background: -ms-linear-gradient(top, #f5f5f5, #bbbbbb);
  background: -o-linear-gradient(top, #f5f5f5, #bbbbbb);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 0.1em 0 white;
}
body .AppKit-Button:active {
  background: -webkit-linear-gradient(top, #bbbbbb, #c1c1c1);
  background: -moz-linear-gradient(top, #bbbbbb, #c1c1c1);
  background: -ms-linear-gradient(top, #bbbbbb, #c1c1c1);
  background: -o-linear-gradient(top, #bbbbbb, #c1c1c1);
}
body .AppKit-DropdownButton {
  min-width: 6em;
  cursor: default;
  height: 1.7em;
}
body .AppKit-DropdownButton > div:nth-child( 1 ), body .AppKit-DropdownButton > div:nth-child( 2 ), body .AppKit-DropdownButton > div:nth-child( 3 ) {
  margin: 0;
  display: none;
}
body .AppKit-DropdownButton > div:nth-child( 1 ) {
  display: none;
  position: absolute;
  top: 2.1em;
  left: -0.1em;
  width: 100%;
  min-height: 1.9em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
  border: solid 0.1em #999999;
  background-color: white;
}
body .AppKit-DropdownButton > div:nth-child( 2 ) {
  display: inline-block;
  line-height: 1.9em;
  margin-left: 0em;
}
body .AppKit-DropdownButton > div:nth-child( 3 ) {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2em;
  background: none;
  border-left: solid 0.1em #eee;
  box-shadow: -0.1em 0 0 #555555;
  margin: 0;
}
body .AppKit-DropdownButton > div:nth-child( 3 ) > div {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid #666;
  margin-left: 0.6em;
  margin-top: 0.8em;
}
body .AppKit-DropdownButton > div:nth-child( 3 ):hover {
  background: -webkit-linear-gradient(top, #eeeeee, #aaaaaa);
  background: -moz-linear-gradient(top, #eeeeee, #aaaaaa);
  background: -ms-linear-gradient(top, #eeeeee, #aaaaaa);
  background: -o-linear-gradient(top, #eeeeee, #aaaaaa);
}
body .AppKit-DropdownButton .AppKit-DropdownSelector {
  padding: 0.5em;
  background: none;
}
body .AppKit-DropdownButton .AppKit-DropdownSelector:hover {
  background-color: #eee;
  cursor: default;
}
body .AppKit-DropdownButton .AppKit-DropdownSelector:first-child {
  -webkit-border-top-right-radius: 0.2em;
  -moz-border-radius-topright: 0.2em;
  -ms-border-top-right-radius: 0.2em;
  -o-border-top-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  -ms-border-top-left-radius: 0.2em;
  -o-border-top-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
}
body .AppKit-DropdownButton .AppKit-DropdownSelector:last-child {
  -webkit-border-bottom-left-radius: 0.2em;
  -moz-border-radius-bottomleft: 0.2em;
  -ms-border-bottom-left-radius: 0.2em;
  -o-border-bottom-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -ms-border-bottom-right-radius: 0.2em;
  -o-border-bottom-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
body .AppKit-Toggle {
  position: relative;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(top, #777777, #cccccc);
  background: -moz-linear-gradient(top, #777777, #cccccc);
  background: -ms-linear-gradient(top, #777777, #cccccc);
  background: -o-linear-gradient(top, #777777, #cccccc);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: solid 0.1em #666666;
  box-shadow: 0 1px 0 white, inset 0 0 1px black;
}
body .AppKit-Toggle > .AppKit-Toggle-On, body .AppKit-Toggle > .AppKit-Toggle-Off {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;
}
body .AppKit-Toggle > .AppKit-Toggle-On span, body .AppKit-Toggle > .AppKit-Toggle-Off span {
  margin: 0;
  padding: 0;
  font-size: 8pt;
  font-weight: lighter;
  line-height: 10px;
}
body .AppKit-Toggle > .AppKit-Toggle-On {
  background: -webkit-linear-gradient(top, #0a3cff, #4696ff);
  background: -moz-linear-gradient(top, #0a3cff, #4696ff);
  background: -ms-linear-gradient(top, #0a3cff, #4696ff);
  background: -o-linear-gradient(top, #0a3cff, #4696ff);
  box-shadow: inset 0 0 1px #000064;
  color: #eee;
}
body .AppKit-Toggle > .AppKit-Toggle-On span {
  margin-left: 5px;
}
body .AppKit-Toggle > .AppKit-Toggle-Off {
  text-align: right;
  color: #595959;
}
body .AppKit-Toggle > .AppKit-Toggle-Off span {
  margin-right: 5px;
}
body .AppKit-Toggle > .AppKit-Toggle-Slider {
  position: absolute;
  background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(top, #ffffff, #cccccc);
  background: -o-linear-gradient(top, #ffffff, #cccccc);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0px 0px 2px black;
  width: 35px;
  height: 20px;
  top: 0;
  left: 0;
}
body .AppKit-Toggle > .AppKit-Toggle-Slider:hover {
  cursor: pointer;
}
body .AppKit-Slider-Zone {
  position: relative;
  padding: 10px;
}
body .AppKit-Slider {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8px;
  background: -webkit-linear-gradient(top, #777777, #aaaaaa);
  background: -moz-linear-gradient(top, #777777, #aaaaaa);
  background: -ms-linear-gradient(top, #777777, #aaaaaa);
  background: -o-linear-gradient(top, #777777, #aaaaaa);
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  border: solid 0.1em #666666;
  box-shadow: 0 1px 0 white, inset 0 0 1px black;
}
body .AppKit-Slider > a.AppKit-Slider-Knob {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  background: -webkit-linear-gradient(top, #cccccc, #ffffff);
  background: -moz-linear-gradient(top, #cccccc, #ffffff);
  background: -ms-linear-gradient(top, #cccccc, #ffffff);
  background: -o-linear-gradient(top, #cccccc, #ffffff);
  border: solid 1px white;
  box-shadow: 0px 0px 2px black;
}
body .AppKit-Slider > a.AppKit-Slider-Knob:hover, body .AppKit-Slider > a.AppKit-Slider-Knob:active {
  cursor: pointer;
}
body .AppKit-ToolTip {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
body .AppKit-Cell {
  background-color: white;
  border-bottom: solid 0.1em #666666;
  border-right: solid 0.1em #666666;
  padding: 0.5em;
  font-size: 9pt;
}
body .AppKit-Cell:hover {
  cursor: default;
}
body .AppKit-Cell:last-child {
  border-right: none;
}
body .AppKit-Cell.AppKit-Selected {
  background-color: #13a3ff;
  color: white;
}
body .AppKit-MutableCell {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body .AppKit-MutableCell.AppKit-Selected {
  background-color: white;
  color: black;
}
body .AppKit-HeaderCell {
  background: -webkit-linear-gradient(top, #f1f1f1, #bbbbbb);
  background: -moz-linear-gradient(top, #f1f1f1, #bbbbbb);
  background: -ms-linear-gradient(top, #f1f1f1, #bbbbbb);
  background: -o-linear-gradient(top, #f1f1f1, #bbbbbb);
  border-bottom: solid 0.1em #666666;
  border-right: solid 0.1em #666666;
  text-shadow: 0 0.07em 0 white;
  padding: 0.1em 0.5em;
}
body .AppKit-Table {
  position: relative;
  background-color: white;
  border: solid 0.1em #666666;
  font-size: 9pt;
  overflow: auto;
}
body .AppKit-Table table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
body .AppKit-Tree, body .AppKit-Node {
  background-color: white;
  font-size: 9pt;
}
body .AppKit-Tree {
  border: solid 0.1em #666666;
}
body .AppKit-Node {
  vertical-align: top;
}
body .AppKit-Node > div:first-child {
  white-space: nowrap;
  height: 1.5em;
  line-height: 1.5em;
}
body .AppKit-Node > div:first-child > div {
  margin: 0.3em 0.4em 0;
  width: 0.7em;
  height: 0.9em;
  display: inline-block;
  vertical-align: top;
}
body .AppKit-Node > div:first-child > span {
  vertical-align: top;
}
body .AppKit-Node > div:first-child > span:hover {
  cursor: default;
}
body .AppKit-Node.AppKit-Selected > div:first-child {
  background-color: #13a3ff;
}
body .AppKit-Node.AppKit-Selected > div:first-child > span {
  color: white;
}
body .AppKit-Branch.AppKit-Selected > div:first-child > div {
  border-left: 0.7em solid white;
}
body .AppKit-Branch.AppKit-Selected.AppKit-Expanded > div:first-child > div {
  border-top: 0.7em solid white;
}
body .AppKit-Branch > div:first-child > div {
  width: 0;
  height: 0;
  border-top: 0.45em solid transparent;
  border-bottom: 0.45em solid transparent;
  border-right: none;
  border-left: 0.7em solid #7f7f7f;
}
body .AppKit-Branch.AppKit-Expanded > div:first-child > div {
  width: 0;
  height: 0;
  border-top: 0.7em solid #7f7f7f;
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid transparent;
  border-bottom: none;
  margin: 0.4em 0.3em 0;
}
body .AppKit-Tabbed {
  font-size: 9pt;
}
body .AppKit-Tabbed > ul, body .AppKit-Tabbed > ul li.AppKit-Tab {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .AppKit-Tabbed > ul {
  width: 100%;
  height: 1.8em;
}
body .AppKit-Tabbed > ul li.AppKit-Tab {
  background-color: #ddd;
  display: inline-block;
  margin-right: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1.8em;
  line-height: 1.8em;
  border: solid 0.1em #666666;
}
body .AppKit-Tabbed > ul li.AppKit-Tab:hover {
  cursor: default;
}
body .AppKit-Tabbed > ul li.AppKit-Tab.AppKit-MutableTab {
  padding-left: 0.25em;
}
body .AppKit-Tabbed > ul li.AppKit-Tab.AppKit-MutableTab > span:first-child {
  font-size: 140%;
  line-height: 77%;
  float: left;
  color: #aaa;
  padding: 0.2em;
  margin-right: 0.3em;
  width: 0.5em;
  height: 0.5em;
}
body .AppKit-Tabbed > ul li.AppKit-Tab.AppKit-MutableTab:hover > span:first-child {
  color: #888;
}
body .AppKit-Tabbed > ul li.AppKit-Tab.AppKit-MutableTab:hover > span:first-child:hover {
  color: #555;
}
body .AppKit-Tabbed > ul li.AppKit-Tab.AppKit-Selected {
  background-color: white;
  border-bottom: solid 0.1em white;
}
body .AppKit-Tabbed > div {
  background-color: white;
  width: calc(100% - 2em);
  height: calc(100% - 3.8em);
  padding: 1em;
  margin-top: 0.1em;
  border: solid 0.1em #666666;
}
body .AppKit-Window {
  position: absolute;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  border: solid 0.1em #666666;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
body .AppKit-Window .AppKit-TitleBar {
  position: relative;
  width: 100%;
  height: 2em;
  background: -webkit-linear-gradient(top, #dddddd, #b5b5b5);
  background: -moz-linear-gradient(top, #dddddd, #b5b5b5);
  background: -ms-linear-gradient(top, #dddddd, #b5b5b5);
  background: -o-linear-gradient(top, #dddddd, #b5b5b5);
  border-bottom: solid 0.1em #777;
  -webkit-border-top-left-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  -ms-border-top-left-radius: 0.3em;
  -o-border-top-left-radius: 0.3em;
  border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
  -moz-border-radius-topright: 0.3em;
  -ms-border-top-right-radius: 0.3em;
  -o-border-top-right-radius: 0.3em;
  border-top-right-radius: 0.3em;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  color: #333;
}
body .AppKit-Window .AppKit-TitleBar > span {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2.5em;
  font-size: smaller;
  text-shadow: 0 0.1em 0 #ddd;
}
body .AppKit-Window .AppKit-TitleBar .AppKit-Selector {
  position: relative;
  margin-top: 0.45em;
  margin-left: 0.45em;
  margin-right: 0.45em;
}
body .AppKit-Window .AppKit-Window-Content {
  padding: 0.7em;
}
body .AppKit-Window .AppKit-Window-Overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
body .AppKit-ActiveWindow {
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.8);
}
body .AppKit-MainWindow {
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 768px) {
  
}
