/* 
 * Created by Nathan Wehr
 * Copyright 2013 Nathan Wehr and EvriChart Inc. All Rights Reserved.
 */

@DefaultBorder: 	solid 0.1em #666; 
@ButtonBorder: 		solid 0.1em #666; 
@TableCellBorder: 	solid 0.1em #666; 
@InputBorder: 		solid 0.1em #999; 

.CornerRadius( @i_Radius ) {
	-webkit-border-radius: 	@i_Radius;
	-moz-border-radius: 	@i_Radius;
	-ms-border-radius: 		@i_Radius;
	-o-border-radius: 		@i_Radius;
	border-radius: 			@i_Radius;
}

.TopLeftCornerRadius( @i_Radius ) {
	-webkit-border-top-left-radius: 	@i_Radius; 
	-moz-border-radius-topleft: 		@i_Radius; 
	-ms-border-top-left-radius:			@i_Radius;
	-o-border-top-left-radius: 			@i_Radius;
	border-top-left-radius: 			@i_Radius; 
}

.TopRightCornerRadius( @i_Radius ) {
	-webkit-border-top-right-radius: 	@i_Radius; 
	-moz-border-radius-topright: 		@i_Radius; 
	-ms-border-top-right-radius: 		@i_Radius;
	-o-border-top-right-radius: 		@i_Radius;
	border-top-right-radius: 			@i_Radius; 
}

.BottomLeftCornerRadius( @i_Radius ) {
	-webkit-border-bottom-left-radius: 	@i_Radius; 
	-moz-border-radius-bottomleft: 		@i_Radius; 
	-ms-border-bottom-left-radius:		@i_Radius;
	-o-border-bottom-left-radius: 		@i_Radius;
	border-bottom-left-radius: 			@i_Radius; 
}

.BottomRightCornerRadius( @i_Radius ) {
	-webkit-border-bottom-right-radius: @i_Radius; 
	-moz-border-radius-bottomright: 	@i_Radius; 
	-ms-border-bottom-right-radius:		@i_Radius;
	-o-border-bottom-right-radius: 		@i_Radius;
	border-bottom-right-radius: 		@i_Radius; 
}

.BasicGradient( @i_Stop1, @i_Stop2 ) {
	background: -webkit-linear-gradient(top, @i_Stop1, @i_Stop2);
	background: -moz-linear-gradient(top, @i_Stop1, @i_Stop2);
	background: -ms-linear-gradient(top, @i_Stop1, @i_Stop2);
	background: -o-linear-gradient(top, @i_Stop1, @i_Stop2);
}


/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

body {
	position: absolute;
	
	margin: 0; 
	padding: 0; 
	
	width: 100%;
	height: auto; 
	
	top: 0; 
	bottom: 0; 

	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-View {
		font-family: 'lucida grande'
					, tahoma
					, verdana
					, arial
					, sans-serif; 
					
		background-color: #ddd; 
		
		-webkit-touch-callout: 	none;
		-webkit-user-select: 	none;
		-khtml-user-select: 	none;
		-moz-user-select: 		none;
		-ms-user-select: 		none;
		user-select: 			none;
		
	}
	
	.AppKit-View.AppKit-Selectable {
		-webkit-touch-callout: 	text;
		-webkit-user-select: 	text;
		-khtml-user-select: 	text;
		-moz-user-select: 		text;
		-ms-user-select: 		text;
		user-select: 			text;
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Scroll {
		overflow: auto;
		
		> div {
			min-width: 100%;
			min-height: 100%;
			
			float: left;
		}
		
	}
	
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Label {
		background: none; 
		
		font-size: 	9pt; 
		color: 		#555; 
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	.AppKit-Heading {
		background: none; 
		color: #555; 
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Paragraph {
		background: none; 
		
		font-size: 	9pt; 
		color: 		#555; 
		
		margin-top: 0; 
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	textarea.AppKit-Input
	, input.AppKit-Input[type="text"]
	, input.AppKit-Input[type="password"] {
		background-color: white; 
		
		color: black;
		
		border: @InputBorder; 
		.CornerRadius( 0.2em ); 
		
		padding: 0.3em; 
		
		-webkit-touch-callout: 	auto;
		-webkit-user-select: 	auto;
		-khtml-user-select: 	auto;
		-moz-user-select: 		auto;
		-ms-user-select: 		auto;
		user-select: 			auto;
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Button
	, .AppKit-DropdownButton {
		all: none; 
		
		display: inline-block; 
		position: relative; 
		
		font-size: 	9pt; 
		font-weight: normal; 
		
		color: 		#222; 
	
		height: 1.9em; 
		line-height: 9pt; 
		
		padding: 0 0.7em; 
		
		border: @ButtonBorder;
		
		.BasicGradient( #f5f5f5, #bbb );
		.CornerRadius( 0.3em ); 
		
		box-shadow: 0 0.1em 0 white; 
		
	}
	
	.AppKit-Button {
		&:active {
			.BasicGradient( #bbb, #c1c1c1 );
		}
		
	}
	
	.AppKit-DropdownButton {
		min-width: 6em; 
		cursor: default; 
		height: 1.7em; 
		
		> div:nth-child( 1 )
		, > div:nth-child( 2 )
		, > div:nth-child( 3 ) {
			margin: 0; 
			display: none; 
		}
		
		> div:nth-child( 1 ) {
			display: none; 
			
			position: absolute; 
			
			top: 2.1em; 
			left: -0.1em; 
			
			width: 100%; 
			min-height: 1.9em; 
			
			.CornerRadius( 0.2em ); 
			box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.1);
			border: @InputBorder; 
			
			background-color: white;
			
		}
		
		> div:nth-child( 2 ) {
			display: inline-block; 
			line-height: 1.9em; 
			margin-left: 0em; 
			
		}
		
		> div:nth-child( 3 ) {
			display: inline-block; 
			position: absolute; 
			
			top: 0; 
			right: 0; 
			
			height: 100%; 
			width: 2em; 
			
			background: none; 
			
			border-left: solid 0.1em #eee; 
			box-shadow: -0.1em 0 0 #555; 
			
			margin: 0; 
			
			> div {
				width: 0; 
				height: 0; 
				
				border-left: 0.4em solid transparent; 
				border-right: 0.4em solid transparent; 
				border-top: 0.4em solid #666; 
				
				margin-left: 0.6em; 
				margin-top: 0.8em; 
				
			}
			
			&:hover {
				.BasicGradient( #eee, #aaa );
			}
			
		}
		
		.AppKit-DropdownSelector {
			padding: 0.5em; 
			background: none;
			
			&:hover {
				background-color: #eee; 
				cursor: default; 
			}
			
			&:first-child {
				.TopRightCornerRadius( 0.2em ); 
				.TopLeftCornerRadius( 0.2em ); 
			}
			
			&:last-child {
				.BottomLeftCornerRadius( 0.2em ); 
				.BottomRightCornerRadius( 0.2em ); 
			}
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Toggle {
		position: relative; 
		
		margin: 0; 
		padding: 0; 
		
		.BasicGradient( #777, #ccc );
		.CornerRadius( 0.3em ); 
		
		border: @DefaultBorder; 
		
		box-shadow: 0 1px 0 white, inset 0 0 1px black; 
		
		> .AppKit-Toggle-On
		, > .AppKit-Toggle-Off {
			display: inline-block; 
			
			margin: 0; 
			padding: 0; 
			
			width: 30px; 
			height: 20px; 
				
		}
		
		> .AppKit-Toggle-On span
		, > .AppKit-Toggle-Off span {
			margin: 0; 
			padding: 0; 
			
			font-size: 8pt; 
			font-weight: lighter; 
			
			line-height: 10px; 
			
		}
		
		> .AppKit-Toggle-On {
			.BasicGradient( rgb(10, 60, 255), rgb(70, 150, 255) );
			
			box-shadow: inset 0 0 1px rgb(0, 0, 100); 
			color: #eee; 	
			
			span {
				margin-left: 5px; 
			}
			
		}
		
		> .AppKit-Toggle-Off {
			text-align: right;
			color: #595959; 
			
			span {
				margin-right: 5px; 
			}
			
		}
		
		> .AppKit-Toggle-Slider {
			position: absolute; 
			
			.BasicGradient( #fff, #ccc );
			.CornerRadius( 0.2em ); 
			
			box-shadow: 0px 0px 2px black; 
			
			width: 35px; 
			height: 20px; 
			
			top: 0; 
			left: 0; 
			
			&:hover {
				cursor: pointer; 
			}
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Slider-Zone {
		position: relative; 
		padding: 10px; 
		
	}
	
	.AppKit-Slider {
		position: relative; 
		
		margin: 0; 
		padding: 0; 
	
		width: 100%; 
		height: 8px; 
		
		.BasicGradient( #777, #aaa );
		.CornerRadius( 0.4em ); 
		
		border: @DefaultBorder; 
		
		box-shadow: 0 1px 0 white, inset 0 0 1px black; 
		
		> a.AppKit-Slider-Knob {
			position: absolute; 
			
			top: -2px; 
			left: -2px; 
			
			width: 10px; 
			height: 10px; 
			
			.CornerRadius( 0.5em ); 
			.BasicGradient( #ccc, #fff );
			
			border: solid 1px white; 
			box-shadow: 0px 0px 2px black; 
			
			&:hover
			, &:active {
				cursor: pointer; 
			}
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-ToolTip {
		background-color: rgba( 0, 0, 0, 0.8 ); 
		.CornerRadius( 0.5em ); 
		
		> .AppKit-ToolTip-Arrow {
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Cell {
		background-color: white; 
		
		border-bottom: @TableCellBorder; 
		border-right: @TableCellBorder; 
		
		padding: 0.5em; 
		
		font-size: 9pt; 
		
		&:hover {
			cursor: default;
		}
		
		&:last-child {
			border-right: none; 
		}
		
	}
	
	.AppKit-Cell.AppKit-Selected {
		background-color: #13a3ff; 
		color: white; 
	}
	
	
	.AppKit-MutableCell {
		-webkit-touch-callout: 	text;
		-webkit-user-select: 	text;
		-khtml-user-select: 	text;
		-moz-user-select: 		text;
		-ms-user-select: 		text;
		user-select: 			text;
	}

	.AppKit-MutableCell.AppKit-Selected {
		background-color: white; 
		color: black; 
	}
	
	.AppKit-HeaderCell {
		.BasicGradient( #f1f1f1, #bbb );
		
		border-bottom: @TableCellBorder; 
		border-right: @TableCellBorder; 
		
		text-shadow: 0 0.07em 0 white; 
		
		padding: 0.1em 0.5em; 
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Table {
		position: relative; 
		background-color: white; 
		border: @DefaultBorder; 
	    
	    font-size: 9pt; 
	    
	    overflow: auto; 
	    
	    table {
		    width: 100%; 
			
			border-spacing: 0;
		    border-collapse: collapse;

	    }
	    
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Tree
	, .AppKit-Node {
		background-color: white; 
		font-size: 9pt; 
	}
	
	.AppKit-Tree {
		border: @DefaultBorder; 
	}
	
	.AppKit-Node {
		vertical-align: top; 
		
		> div {
			&:first-child {
				white-space: nowrap;
				height: 1.5em; 
				line-height: 1.5em; 
			}
			
		}
		
		> div {
			&:first-child {
				> div {
					margin: 0.3em 0.4em 0;
					
					width: 0.7em;
					height: 0.9em;
					
					display: inline-block; 
					
					vertical-align: top;
					
				}
				
				> span {
					vertical-align: top; 
					
					&:hover {
						cursor: default; 
					}
					
				}
				
			}
			
		} 
		
	}
	
	.AppKit-Node.AppKit-Selected {
		> div {
			&:first-child {
				background-color: #13a3ff;
				
				> span {
					color: white;
				}
				
			}
			
		}
		
	}
	
	
	.AppKit-Branch.AppKit-Selected {
		> div {
			&:first-child {
				> div {
					border-left: 0.7em solid white;
				}
				
			}
			
		}
		
	}
	
	.AppKit-Branch.AppKit-Selected.AppKit-Expanded {
		> div {
			&:first-child {
				> div {
					border-top: 0.7em solid white;
				}
				
			}
			
		}
		
	}
	
	.AppKit-Branch {
		> div {
			&:first-child {
				> div {
					width: 0; 
					height: 0; 
					
					border-top: 0.45em solid transparent;
					border-bottom: 0.45em solid transparent;
					border-right: none; 
					
					border-left: 0.7em solid #7f7f7f;
				}
				
			}
			
		}
		
	}
	
	.AppKit-Branch.AppKit-Expanded {
		> div {
			&:first-child {
				> div {
					width: 0; 
					height: 0; 
					
					border-top: 0.7em solid #7f7f7f; 
					
					border-left: 0.45em solid transparent; 
					border-right: 0.45em solid transparent; 
					border-bottom: none; 
					
					margin: 0.4em 0.3em 0; 
					
				}
				
			}
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Tabbed {
		font-size: 9pt; 
		
		> ul
		, > ul li.AppKit-Tab {
			background: none; 
			list-style: none; 
			
			margin: 0; 
			padding: 0; 
			
		}
		
		> ul {
			width: 100%; 
			height: 1.8em; 
			
			li.AppKit-Tab {
				background-color: #ddd; 
				
				display: inline-block; 
				
				margin-right: 0.2em; 
				
				padding-left: 0.5em; 
				padding-right: 0.5em; 
				
				height: 1.8em; 
				line-height: 1.8em; 
				
				border: @DefaultBorder;
				
				&:hover {
					cursor: default; 
				}
				
			}
			
			li.AppKit-Tab.AppKit-MutableTab {
				padding-left: 0.25em; 
				
				> span:first-child {
					font-size: 140%;
					line-height: 77%;
					
					float: left;
					
					color: #aaa;
					
					padding: 0.2em; 
					margin-right: 0.3em; 
					
					width: 0.5em; 
					height: 0.5em; 
					
				}
				
			}
			
			li.AppKit-Tab.AppKit-MutableTab:hover {
				> span {
					&:first-child {
						color: #888;
						
						&:hover {
							color: #555;
						}
						
					}
					
				}
				
			}
			
			li.AppKit-Tab.AppKit-Selected {
				background-color: white; 
				border-bottom: solid 0.1em white; 
			}
			
		}

		> div {
			background-color: white; 
			
			width: calc(~"100% - 2em"); 
			height: calc(~"100% - 3.8em"); 
			
			padding: 1em; 
			margin-top: 0.1em; 
			
			border: @DefaultBorder; 
			
		}
		
	}
	
	/* --------------------------------------------------------- */
	/* --------------------------------------------------------- */
	
	.AppKit-Window {
		position: absolute; 
		
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
		
		border: @DefaultBorder; 
		.CornerRadius( 0.2em ); 
		
		.AppKit-TitleBar {
			position: relative; 
			
			width: 100%; 
			height: 2em; 
			
			.BasicGradient( #ddd, #b5b5b5 );
			
			border-bottom: solid 0.1em #777; 
			
			.TopLeftCornerRadius( 0.3em ); 
			.TopRightCornerRadius( 0.3em ); 
			
			-webkit-user-select: none; 
			user-select: none; 
			
			cursor: default; 
			color: #333; 

			> span {
				position: absolute; 
				
				width: 100%; 
				
				text-align: center; 
				line-height: 2.5em; 
				
				font-size: smaller; 
				text-shadow: 0 0.1em 0 #ddd; 
				
			}
			
			.AppKit-Selector {
				position: relative; 
				
				margin-top: 0.45em; 
				
				margin-left: 0.45em; 
				margin-right: 0.45em; 
				
			}
			
		}
		
		.AppKit-Window-Content {
			padding: 0.7em; 
		}
		
		.AppKit-Window-Overlay {
			display: none; 
			
			position: absolute; 
			
			top: 0; 
			left: 0; 
			
			width: 100%; 
			height: 100%; 
			
			background-color: black; 
			
			opacity: 0.3; 
			
		}
		
	}
	
	.AppKit-ActiveWindow {
		box-shadow: 0 0 2.5em rgba(0,0,0,0.8);
	}
	
	.AppKit-MainWindow {
		box-shadow: none; 
		
		border: none; 
		.CornerRadius( 0 ); 
		
	}
		
}

@import "AppKit-Mobile.less" screen and (max-width: 480px); 
@import "AppKit-Tablet.less" screen and (max-width: 768px); 
